
<%- include("partials/header.ejs")%>
<%- include("partials/nav.ejs")%>
<form class="form-control m-auto  mt-5 mb-3 w-35" action="/get-email" method="post">
<h1>Enter existing mail</h1>
<input  class="form-control  mt-5 mb-3 w-25" type="email" placeholder="enter email" name="email">
<button class="btn btn-primary">submit</button>

<%- include("partials/footer.ejs")%>
</form>