<%-include("partials/header")%>
<%-include("partials/nav")%>
<div class="container  bg-black text-light m-auto   ">

  <h1>Homepage</h1>
<a class="btn btn-light  " href="/signup">signup</a>
<a class = "btn btn-light " href="/signin">signin</a>
</div>
<%-include("partials/footer")%>
  
 
